<%- include('../partials/jukebox-header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <% for(let index= 0; index<songs.length; index++) { %> 
        <div class="col">
            <div class="card">
             <a href="/song-detail/<%= songs[index].id %>" class="" tabindex="-1" role="button">
              <img src="<%= songs[index].imageUrl %>" class="card-img-top home-card" alt="..." />
              <div class="card-body">
                  <h2 class="card-title"> <%= songs[index].title %></h2>
                  <h5><%= songs[index].artist.name %></h5>
                  <p class="card-text">
                    <%= songs[index].description %>
                  </p>

                  <span class="badge text-bg-light"><%= songs[index].genre.genre %></span>
                  
              </div>
             </a>
            </div>
        </div>
      <% } %>
    </div>

  </body>
</html>
